* {
    box-sizing: border-box;
  }

header {
    background-color: #666;
    text-align: center;
    color: white;
    padding: 20px;
    font-size: 35px;
}
nav {
    float: left;
    width: 30%;
    height: 400px;
    background-color: #ccc;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

article {
    float: left;
    width: 70%;
    height: 400px;
    background-color: #f1f1f1;
    padding: 20px;
}

footer {
    background-color: #666;
    padding: 12px;
    text-align: center;
    color: white;
}